.row
  .col.s12
    .panel
      .panel-head
        %h3 Apollo runs in Rooms.
      .panel-body
        %p Create a room to allow other users to connect with your playlists.
        = form_for @room do |f|
          = f.label :name
          = f.text_field :name, required: true
          = f.submit class: 'btn'
