body {
  background-color: rgba(255, 219, 165, 0.3);
  // background-image: linear-gradient(0deg, rgba(234,253,255,0.65) 0%, #D2FCFF 100%);
}
.pointer {
  cursor: pointer;
}
.full-width {
  width: 100%;
}
.landing-header {
  background-image: linear-gradient(225deg, rgba(234,253,255,0.50) 0%, #D2FCFF 100%);
  height: 350px;
  margin: 0;
}
.landing-welcome{
  font-family: 'Nord Regular';
  font-size: 74.8px;
  color: #8162FF;
  text-shadow: 0px 2px 4px rgba(20,48,51,0.48);
  margin: 0;
  margin-bottom: -27px;
}
.landing-tagline {
  font-family: 'Nord Medium';
  font-size: 36px;
  color: #8162FF;
  line-height: 43px;
  text-shadow: 0px 2px 4px rgba(20,48,51,0.48);
  margin-top: 15px;
}
.yellow-hr {
  height: 5px;
  margin: 0 auto;
  background: #FFC062;
  box-shadow: 0px 2px 4px 0px rgba(20,48,51,0.48);
  border-radius: 100px;
}
