.custom-nav {
  background-color: #282828;
  border-bottom: 1px solid #CB1C75;
}
.logo img {
  margin: 10px;
  height: 44px;
}
.custom-nav a {
  font-family: 'Nord Medium';
  font-size: 1.5em;
  color: #CB1C75;
}
