.panel {
  margin-top: 20px;
  // border: 1px solid #b3b3b3;
  // border-radius: 15px;
}
.panel-head,
.panel-body {
  padding: 10px 2.5%;
}
.panel-head {
  background: #282828;
  border-bottom: 1px solid #CB1C75;
  font-family: 'Nord Medium';
  color: #CB1C75;
  text-shadow: 0px 2px 4px rgba(20,48,51,0.48);
  // border-radius: 15px 15px 0 0;
}
.panel-head h3 {
  margin: 5px 0 0 0;
}
.panel-body {
  background: #181818;
  // border: 1px solid #CB1C75;
  // background: rgb(142, 156, 157);
  // background: rgba(20,48,51,0.48);
  font-family: 'Nord Regular';
  color: #EBEBEB;
  // border-radius: 0 0 15px 15px;

}
