.panel {
  margin-top: 20px;
  border: 1px solid #b3b3b3;
}
.panel-head,
.panel-body {
  padding: 10px 2.5%;
}
.panel-head {
  background: #e6e6e6;
  border-bottom: 1px solid #b3b3b3;
}
.panel-body {
  background: #eeeeee;
}
