%footer
  .center-align
    %p.apollo-pink
      Apollo 2016 /
      -# %i.material-icons.play play_circle_outline
      = link_to 'Github', 'https://github.com/cef2010/apollo'
      \/
      = link_to 'Edit Account', edit_user_registration_path
